<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<!-- 定义RabbitMQ的连接工厂 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${rabbit.host}" port="${rabbit.port}" username="${rabbit.username}" password="${rabbit.passwd}"
		virtual-host="${rabbit.vhost}" />

	<!-- MQ的管理，包括队列、交换器等 -->
	<rabbit:admin connection-factory="connectionFactory" />
	
	<!-- 定义队列 -->
	<rabbit:queue name="taotao_search_item_queue" auto-declare="true" durable="true"/>

	<!-- 定义交换器，自动声明 -->
	<rabbit:direct-exchange name="TAOTAO_ITEM_EXCHANGE" auto-declare="true" durable="true">
		<rabbit:bindings>
			<!-- 队列绑定到交换机 -->
			<rabbit:binding queue="taotao_search_item_queue" key="update"/>
			<!-- 队列绑定到交换机 -->
			<rabbit:binding queue="taotao_search_item_queue" key="insert"/>
		</rabbit:bindings>
	</rabbit:direct-exchange>
	
	<!-- 队列监听 -->
	<rabbit:listener-container connection-factory="connectionFactory">
		<rabbit:listener ref="updateItem" method="execute" queue-names="taotao_search_item_queue" />
	</rabbit:listener-container>
</beans>